*.swp
*.pyc
*.class
.DS_Store
pip-log.txt
.mypy_cache
backups
*/local_settings.py
*/settings_local.py
media
media/*
.project
.pydevproject
.settings
django.log
databases
.coverage
.vagrant/
venv/
__pycache__/
docs/_build/*
db.sqlite3
var/
static/

# Ignore the two main .cfg files in the root dir
# but don't ignore the ones in the conf dir
/mailman.cfg
/mailman-hyperkitty.cfg
!/conf/()

# Ignore archives
*/emails
*/fulltext_index
