[Unit]
Description=HyperKitty async tasks runner
After=network.target remote-fs.target

[Service]
ExecStart=/opt/mailman/mailman-suite/bin/start_qcluster.sh
User=mailman
Restart=always

[Install]
WantedBy=multi-user.target
